<h1>Create Fwitter Account</h1>

<form action="/users/signup" method="post">
  <label>Username</label>
  <input type="text" name="username" id="username"><br>
  <label>Email</label>
  <input type="text" name="email" id="email"><br>
  <label>Password</label>
  <input type="password" name="password" id="password"><br>
  <label>Confirm Password</label>
  <input type="password" name="confirmpassword"><br>
  <input type="submit" value="Create User">
</form>
