<h1>Create Fwitter Account</h1>

<form action="/users/create" method="post">
  <label>Username</label>
  <input type="text" name="user[username]"><br>
  <label>Email</label>
  <input type="text" name="user[email]"><br>
  <label>Password</label>
  <input type="password" name="user[password]"><br>
  <label>Confirm Password</label>
  <input type="password" name="confirmpassword"><br>
  <input type="submit" value="Create User">
</form>
